.card{
  height : 100%;
  max-height : 400px;
  width: 100%;
  max-width: 300px; 
  background-color: grey;
  border:1px solid black;
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}
body{
  background-color: black;
  overflow:hidden
}

.secondLayer {
  background-color: rgba(68, 62, 62, 0.356);
  height: 100vh;
  width: 300px; /* Set the initial width of the sidebar */
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s; /* Use width for the transition */
}

.secondLayer.collapsed {
  width: 0; /* Collapse the sidebar by setting width to 0 */
}


.card-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.link-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  max-height : 400px;
  width: 100%;
  max-width: 300px; 
  background-color: rgb(243, 130, 130);
  border:1px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 75%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.link-container:hover {
  cursor: pointer;
}

.additional-buttons {
  margin-top: 20px;
  text-align: center;
}

.additional-buttons button {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .card {
    max-width: 100%; /* Set a new max-width for smaller screens */
  }
}

.timer{
  font-size: 100px;
  color:antiquewhite
}

.timer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 100px;
}

