.leftBox {
    transition: margin-left 0.3s; /* Add a transition property for a smooth animation */
    width: 300px; /* Set the initial width of the sidebar */
  }
  
  .leftBox.collapsed {
    margin-left: -300px; /* Move the sidebar off-screen when collapsed */
  }
  